.counter {
  border: 2px solid black;
  padding: 20px;
}

.h2,
h3 {
  margin: 0;
}

.feedback {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button {
  padding: 10px 30px;
  background-color: rgb(86, 95, 95);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  color: aliceblue;
}

.statisticsList {
  list-style: none;
}

/* .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: solid 1px tomato;
  margin-bottom: 30px;
}

.counterControls {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  background-color: turquoise;
  border: none;
  border-radius: 5px;
} */
